*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.Watch img{
    height: 200px;
    object-fit: cover;
}
.Watch text{
    color: #333;
}
ins{
    color:black;
    font-size: 20px;
    font-weight: bold;
}
del{
  color: red;
    font-size: 20px;
    font-weight: bold;
}
.test h5{
    font-weight: bold;
    font-size: 25px;
    border-bottom: 2px solid black;
}

.one img{
    width: 30px;
    border-radius: 50%;
    filter: invert(1);
}
.two li{
    list-style: none;
   
}
.two a{
    text-decoration: none;
    color: white;
    font-size: 18px;

}
.box1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA6wvbNQhp7TOwbEBQap8PD0w8HnGkFwK7FA&s);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 700px;
    max-height: 800px;

    padding: 100px;
}
.box2{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjCPjj3Ua2TygGj4_guuBGpS3RRVeWDFBnWw&s);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 700px;
    max-height: 800px;
   box-shadow: 2px 2px 5px rgb(252, 248, 248);
    padding: 100px;
}
.shop{
    font-size: 30px;
}
.ease{
    font-size: 18px;
}
.ease a:hover{
    font-size: 19px;
    border-bottom: 2px solid rgb(240, 81, 81);
}